.background {
  background-color: #2c3e50;
}

.navbarStyle {
  background-color: #2c3e50;
}

.buttonbg {
  background-color: #2c3e50;
}

.button-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  border: 5px solid #2c3e50;
  box-shadow: 5px 3px #aaadc2;
}

.resizeimg {
  max-width: 45%;
  height: auto;
}

.icon-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.icon-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(25, 96, 189, 0.83);
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: ease-in 0.3s;
}

.icon-wrap:hover .icon-description {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1250px) {
  .removeimage {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .desktopview,
  .browsertitle {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .cardview,
  .mobiletitle {
    display: none;
  }
}

@media screen and (max-width: 800px) and (min-width: 560px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

/* End Buttons */
@media screen and (max-width: 380px) {
  .end {
    display: none;
  }
}

/* Small Mobile View ∆ Buttons */
@media screen and (min-width: 380px) {
  .smallmobileview {
    display: none;
  }
}

/* Delete CHG Symbol from $CHG / %CHG in card */
@media screen and (max-width: 690px) {
  .volformat {
    display: none;
  }
}

/* Add ∆ symbol to card */
@media screen and (min-width: 689px) {
  .addchangesymbol {
    display: none;
  }
}
